@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap");
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  font-family: "Mochiy Pop One", sans-serif;
  text-decoration: none;
}

body {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */

  min-height: 100vh;
  background: #252839;
}
/* ---------------------------
    This the navbar area
--------------------------- */
.header {
  position: fixed;
  background-color:rgb(55, 75, 80);
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9% 1rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  color: white;
  margin-left: 20px;

  font-size: 40px;
  /* color: var(--text-color); */
  font-weight: 600;
  cursor: pointer;
}
.logo:hover {
  color: aqua;
}
ul {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
ul li {
  position: relative;
  list-style: none;
}
ul li a {
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 2px;
  line-height: 1em;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}
ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: var(--clr);
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
}
ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--clr));
}

/* This the navbar area */
